.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.labelmar {
  margin-left: 40px;
}

.head {
  background-color: coral;
}
.textcol {
  color: black;
  margin-left: 30px;
  font-size: 25px;
}
.exitSign {
  margin-right: 720x;
  font-size: 15px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #61dafb;
  text-align: center;
}

.form {
  margin: 80px;
}

/* .header {
  border: 2px solid red;
  align-content: center;
  background-color: #61dafb;
  position: fixed;
  height: -20px;
  width: 100%;
} */
